.president{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gmember{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;  
}
.somes_committe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin: 0;
    padding: 0;
    color: white;
}
.somes_committe h2,h3{
    margin: 0;
    padding: 0;
    text-shadow:  0px 0px 0 rgb(233,232,228),
    0px 1px 0 rgb(221,220,216),
    0px 2px 0 rgb(209,208,204),
    0px 3px 0 rgb(197,196,192),
    0px 4px 0 rgb(185,184,180),
    0px 5px 0 rgb(173,172,168),
    0px 6px 0 rgb(161,160,156),
    0px 7px 0 rgb(149,148,144),
    0px 8px 0 rgb(137,136,132),
    0px 9px  0 rgb(125,124,120),
    0px 10px 9px rgba(0,0,0,0.46),
    0px 10px 1px rgba(0,0,0,0.5),
    0px 0px 9px rgba(0,0,0,.2);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
#committe h1{
    margin: 20px 0;
    
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    text-shadow: 2px -3px 3px rgba(0, 0, 0, 0.297);
}
#committe .member
{
    margin: 20px 15px;
    border-radius: 15px;
    width: 300px;
    padding: 40px 0;
    height: max-content;
    background-color: #fff;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
   
}

#committe .member::after
{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 0;
    height: 20px;
    transition: all 1s;
    background: rgba(8,61,119);
}

#committe .member::before
{
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    width: 0;
    height: 20px;
    transition: all 1s;
    background: rgba(8,61,119);
}

#committe img
{
   border-radius: 50%;
    transition: all 1s;
   
}

#committe .description h1
{
    color: rgba(8,61,119);
    text-align: center;
    font-size: 24px;
}

#committe .description h2
{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #F21B3F;
    font-weight: 600;
    font-size: 18px;
    text-shadow: 2px -3px 3px rgba(0, 0, 0, 0.297);
}

#committe .description p
{
    color: rgba(8,61,119);
    text-align: justify;
    padding: 0 15px;
}

#committe .social-media
{
    position: absolute;
    background-color: rgba(8,61,119);
    bottom: -20px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: all 1s;
    opacity: 0;
    height: fit-content;
    border-radius: 0 0 15px 15px;
    color: #fff;
}

#committe .description .social-media svg 
{
    font-size: 20px;
    transition: all 1s;
}

#committe .member:hover .social-media
{
    width: 100%;
    opacity: 1;
}

#committe .member:hover
{
    background-color: rgba(8,61,119,0.2);
    transform: scale(1.01);
}

#committe .member:hover img
{
    transform: scale(1.1);
    border: 2px solid rgba(8,61,119);
}

#committe .description .social-media svg:hover
{
    transform: scale(1.1);
    color: #F21B3F;
}

#committe .member:hover::before
{
    width: 50%;
}

#committe .member:hover::after
{
    width: 50%;
}
