@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&family=Roboto&display=swap");
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}
.header-image {
  width: 30rem;
  height: 30rem;
}
body {
  overflow-x: hidden;
}

.wheel {
  position: absolute;
  top: 250px;
  left: 200px;
  z-index: -1;
  opacity: 0.3;
  width: 500px;
  height: 500px;
  animation: wheel 10s infinite linear;
}
@keyframes wheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-content h1 {
  font-size: 5rem;
  font-weight: bold;
}
.header-content p {
  font-size: 2rem;
}
.header-content h1 span {
  color: rgba(67, 154, 149, 255);
}
.header-content button {
  padding: 10px;
  margin: 10px;
  background-color: rgba(67, 154, 149, 255);
  border-radius: 5px;
  border: none;
  font-size: large;
  font-weight: bold;
}
/* .header-content button Link {
  text-decoration: none;
  color: white;
  font-weight: bold;
} */

/* About us  */
.about-container {
  min-height: 85vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  /* margin-top:5rem ; */
  /* margin-bottom: 5rem; */
  /* margin-right: 2rem; */
}
.about-content {
  display: flex;
  flex-direction: column;

  gap: 2rem;

  gap: 1rem;

  align-items: center;
  justify-content: center;
}

.about-content p {
  font-family: "Cairo", Helvetica, Arial, Lucida, sans-serif;
  line-height: 30px;
  width: 70%;
  font-size: 1.3rem;
}
.about-content h1 {
  font-size: 3rem;
  font-weight: bold;
}
.about-image img {
  width: 100%;
  height: 400px;
  border-radius: 5%;
  margin-top: 3rem;
}
/* President message */
.president-msg-container {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 3rem;
}
.president-img {
  width: 100%;
  height: 400px;
  border-radius: 5%;
}
.president-msg {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.president-msg p {
  font-family: "Poppins";
  line-height: 30px;
  width: 70%;
  font-size: 1.3rem;
  text-align: start;
}
.president-msg h1 {
  font-size: 3rem;
}

@media screen and (max-width: 1314px) {
  .header-content h1 {
    font-size: 4rem;
  }
  .header-content p {
    font-size: 2rem;
  }
  .wheel {
    width: 400px;
    height: 400px;
    left: 200px;
  }
  .header-image {
    width: 25rem;
    height: 25rem;
  }

  .about-content p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1080px) {
  .header-content h1 {
    font-size: 3rem;
  }
  .header-content p {
    font-size: 1.5rem;
  }
  .wheel {
    width: 350px;
    height: 350px;
    left: 150px;
    top: 250px;
  }
  .header-image {
    width: 20rem;
    height: 20rem;
  }
  .header-content button {
    padding: 5px;
    margin: 5px;
    font-size: medium;
  }
  .about-content p {
    width: 80%;
  }
}
@media screen and (max-width: 820px) {
  .header-content h1 {
    font-size: 2rem;
  }
  .header-content p {
    font-size: 1rem;
  }
  .wheel {
    width: 250px;
    height: 250px;
    left: 100px;
    top: 250px;
  }
  .header-image {
    width: 15rem;
    height: 15rem;
  }
  .header-content button {
    padding: 5px;
    margin: 5px;
    font-size: small;
  }
  .about-container {
    flex-wrap: wrap;
  }
  .about-content h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 580px) {
  .header-container {
    display: flex;
    flex-direction: column;
  }

  .header-content h1 {
    font-size: 2rem;
  }
  .header-content p {
    font-size: 1.3rem;
  }
  .header-image {
    width: 15rem;
    height: 15rem;
  }
  .header-content button {
    padding: 5px;
    margin: 5px;
    font-size: 0.8rem;
  }
  .wheel {
    width: 200px;
    height: 200px;
    top: 100px;
    left: 180px;
  }
  .about-content {
    width: 100%;
  }
  .president-msg h1 {
    font-size: 2rem;
  }
  .president-msg p {
    width: 100%;
    font-size: 1rem;
  }
  .crousel-content {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 450px) {
  .header-container {
    justify-content: space-evenly;
  }
  .header-content h1 {
    font-size: 1.5rem;
  }
  .header-content p {
    font-size: 1rem;
  }
  .header-image {
    width: 15rem;
    height: 15rem;
  }
  .header-content button {
    padding: 5px;
    margin: 5px;
    font-size: 0.8rem;
  }
  .wheel {
    width: 200px;
    height: 200px;
    top: 150px;
    left: 80px;
  }

  .about-image img {
    height: 300px;
    width: 350px;
  }
  .president-img {
    width: 100%;
    height: 300px;
    border-radius: 5%;
  }
  .about-image img {
    margin-left: 2.5rem;
    width: 80%;
    height: 300px;
    border-radius: 5%;
  }
  .president-msg h1 {
    font-size: 2rem;
  }
  .president-msg p {
    width: 100%;
    font-size: 1rem;
  }
  .crousel-content {
    font-size: 1.5rem;
  }
}
