.alumini_content{
    text-align: center;
}
.alumini_content h1{
    margin-top: 3rem;
}
.alumini_content p{
    margin-top: 2rem;
    font-family: Open Sans,Arial,sans-serif;
    font-weight: 500;
    font-size: 21px;
}