/* Video */
.video-container {
  width: 100vw;
  position: relative;
}
video {
  width: 100%;
  height: 100%;
}
.card-row {
  display: flex;
  flex-wrap: wrap;
}
.video-container h2 {
  color: white;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* Mech camp content */
.mech-camp-content {
  margin-top: 50px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mech-camp-content h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.mech-camp-content p {
  font-size: 16px;
  line-height: 1.6;
}

@media screen and (max-width: 576px) {
  .video-container h2 {
    font-size: 1.5rem;
  }
}
